// couleur, background-color, taille de police ... commence par $
$texttitres: Shrikhand, sans-serif ;
$text: Roboto, sans-serif ;
$primaire: #9256dcfc ;
$secondaire:#ff79d9;
$tertiaire:#99E2D0;
$margintop:  25px;